{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <title>Family Information</title>
      <meta charset="utf-8">
<style >
          .required {
  color: red;
}
</style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
</head>
<body>
    <form method= "post"action="">
    {% csrf_token %}
    <div class="container" style="border:1px solid black;">
        <div style="font-size: 20px; background-color: blue; color: white">Health Details</div><br>
            <div class="row">
                <div class="col-sm-3" ><b>Height</b></div>
                <div class="col-sm-3"><b>
                    <input type= "number" name="height"></b>
                </div>
                <div class="col-sm-3"><b>Weight:</b></div>
                <div class="col-sm-3"><b><input type="number" name = "weight"></b></div>

            </div><br>
            <div class="row">
                <div class="col-sm-3" ><b>Blood Type:</b></div>
                <div class="col-sm-3"><b>
                    <select name="bloodgroup">
                    <option value="AN">AN</option>
                    <option value="AP">AP</option>
                    <option value="B">B</option>
                    <option value="BP">BP</option>
                    <option value="ABN">ABN</option>
                    <option value="ABP">ABP</option>
                    <option value="OP">OP</option>
                    <option value="ON">ON</option>
                    <option value="Don/'t know">Don't know</option>
                    </select></b>
                </div>
                <div class="col-sm-3"><b></b></div>
                <div class="col-sm-3"><b></b></div>
            </div>
        <br>
    </div>
    <input type="submit" value="next"><br><br>

</form>

</body>
</html>