{% load static %}

<form action="" method="post" >
{% csrf_token %}
<div class="input-group">
<input class="input--style-1" type="text" placeholder=" FIRST NAME" name="employeeid"><span style="color:blue">{{ msg }}</span>
</div>
<div class="input-group">
<input class="input--style-1" type="text" placeholder=" FIRST NAME" name="firstname"><span style="color:red">{{ error }}</span>
</div>
<div class="input-group">
    <input class="input--style-1" type="text" placeholder=" middleNAME" name="middelname">
</div>
<div class="input-group">
    <input class="input--style-1" type="text" placeholder="lastname" name="lastname"><span >{{ error2 }}</span>
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="gender">
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="birthdate">
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="nationality">
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="passport">
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="nationalId">
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="ethnicity">
</div>
<div class="input-group">
    <input class="input--style-1" type="text"  name="religion">
</div>
<div class="p-t-20">
    <button class="btn btn--radius btn--green" type="submit">Submit</button>
</div>
</form>
