{% load staticfiles %}
{% load static %} 
<!DOCTYPE html>
<html>
<head>
<!--   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href=" {% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<style>
body {
  font-family: Arial;
  color: white;
   background-color: lightgrey;
   padding-top: 250px;
}

</style>
</head>
<body style="color: black" >

<div class="container" style="background-color: white; border-radius: 8px; height:150px; width:250px; ">
 <div align="center" style="margin-top: 60px;">


  <div align="center">
    <button class="button button2" onclick="window.location.href ='/newapp/employeeList';"><b>List</b></button>
    <button class="button button2" onclick="window.location.href ='/newapp/addemployee';"><b>Add</b></button>
    <button class="button button2" onclick="window.location.href ='{{login_button_url}}';"><b>{{button_text}}</b></button>
  </div>
</div>
</div>
     
</body>
</html> 
