{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title> ListPost </title>
   <link rel="stylesheet" href=" {% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <style type="text/css">
     
        body{
          line-height: 2.42857143;
        }
        .table>tbody>tr>td{
          line-height: 2.42857143;
        }
    </style>
  </head>
  <body style="background-color: lightgrey; font-size: 14px" >
    <div style="padding-top: 100px"></div>
    <div class="container" style="background-color: white; border-radius: 8px ">
      <h4 align="centre"><b>Employees</b></h4>
      <br>
    <table class="table" style="padding-top: 55px">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Dob</th>
      <th scope="col">Edit</th>
      <th scope="col">Pdf</th>
    </tr>
  </thead>
  <tbody>
    {% for i in employeeObj %}
    <tr>
      <td scope="row">{{ forloop.counter }}</td>
      <td>{{ i.employeementId }}</td>
      <td>{{i.employeeFirstName}}</td>
      <td>{{i.employeeLastName}}</td>
      <td>{{i.employeeBirthDate}}</td>
      <td><a href='editemployee/{{i.employeeId}}'><button type="button" class="btn btn-primary btn-sm">EDIT</button></a> </td>
      <td><a href='pdf/{{i.employeeId}}'><button type="button" class="btn btn-primary btn-sm">PDF</button></a></td>
      <!-- <td></td> -->
    </tr>
    {% endfor %}
     </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if employeeObj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ employeeObj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ employeeObj.employeeId }} of {{ employeeObj.paginator.num_pages }}.
        </span>

        {% if employeeObj.has_next %}
            <a href="?page={{ employeeObj.next_page_number }}">next</a>
            <a href="?page={{ employeeObj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</body>


</html>

            